@import "../../variables.css";

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.arrow {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: var(--grey);
  padding: 10px;
}
